<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>NW.js-example | main</title>
    <link rel="stylesheet" href="../styles/common.css">
    <script src="../node_modules/systemjs/dist/system.js"></script>
    
</head>
<body>
    <p id="welcomeMsg"></p>
    <script src="../app/systemJS.config.js"></script>
    <script>
        // System.import('nw.gui') ;
        System.import('app').catch(function(err){ 
            alert(err);
        });
        // nw.Window.get().showDevTools() ;
    </script>
</body>
    
</html>